* {
    margin:auto;
}

body {
    overflow:hidden;
}

.container {
    overflow: hidden;
    justify-content: center;
    margin-top: 100px;
    width: 400px;
    height: 550px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0 rgb(69, 66, 66);
    background-color: #214e4e;
}

.slide_container {
    display: flex;
    padding-top: 100px;
    margin-left: 600px;
    justify-content: space-around;
    transition: all 1s ease;
}

.img {
    display: flex;
}

.text_decoration {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 50px;
    height: 20px;
    font-size: 23px;
}
 .short-line {
    width: 400px;
 }

 .long-line {
    width: 400px;
 }

 .footer_cont_bar {
    display: flex;
    margin-top: 80px;
    height: 1px;
    width: 400px;
    background-color: #cb6a6a;
 }

 .footer_cont_decoration {
    display: flex;
    margin-top: -15px;
    height: 10px;
    width: 200px;
    border-radius: 2px;
    background: #22226b;
 }

 .button-container {
    display: flex;
    cursor: pointer;
    width: 350px;
    height: 100px;
    margin-top: -10px;

 }

 .btn {
    transition: all 600ms ease;
    transform: none;
    filter: contrast(10%);
 }

 .active {
    transition: all 600ms ease;
    filter: contrast(200%);
    transform: scale(1.20);
 }